{% extends "index.html" %}
{% load static %}

{% block 'head' %}
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>LClab - Novo Atendimento</title>
  <link rel="stylesheet" href="{% static 'usuarios/css/atendimento.css' %}">
  <!-- DataTables -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/dataTables.bootstrap5.min.css">
{% endblock %}

{% block 'conteudo' %}


<div class="container py-4">

<!-- TÍTULO -->
    <h3 class="mb-4 fw-bold">Cadastro de Paciente</h3>

    <!-- IDENTIFICAÇÃO -->
    <div class="form-section">
        <h5 class="mb-3">Dados Pessoais</h5>

        <div class="row g-3">

           <!-- <div class="col-md-1 d-flex align-items-center">
                <img src="https://via.placeholder.com/70" class="rounded-circle border border-secondary" height="100" width="100">
            </div>-->

            <div class="col-md-5">
                <label class="form-label">Nome *</label>
                <input type="text" class="form-control" placeholder="Nome completo...">
            </div>

            <div class="col-md-4">
                <label class="form-label">Nome Social</label>
                <input type="text" class="form-control" placeholder="Nome social">
            </div>

            <div class="col-md-3">
                <label class="form-label">Código</label>
                <input type="text" class="form-control">
            </div>

            <div class="col-md-3">
                <label class="form-label">Mãe</label>
                <input type="text" class="form-control" placeholder="Nome da mãe">
            </div>

            <div class="col-md-3">
                <label class="form-label">Pai</label>
                <input type="text" class="form-control" placeholder="Nome do pai">
            </div>

            <div class="col-md-3">
                <label class="form-label">Nascimento</label>
                <input type="date" class="form-control" placeholder="Nascimento">
            </div>

            <div class="col-md-3">
                <label class="form-label">Sexo</label>
                <select class="form-select">
                    <option>Selecione</option>
                    <option>Masculino</option>
                    <option>Feminino</option>
                </select>
            </div>

        </div>
    </div>

    <!-- CONTATO -->
    <div class="form-section">
        <h5 class="mb-3">Contato</h5>

        <div class="row g-3">
            <div class="col-md-4">
                <label class="form-label">Celular</label>
                <input type="text" class="form-control" placeholder="(00) 00000-0000">
            </div>
            <div class="col-md-4">
                <label class="form-label">Telefone</label>
                <input type="text" class="form-control" placeholder="(00) 0000-0000">
            </div>
            <div class="col-md-4">
                <label class="form-label">Email</label>
                <input type="email" class="form-control" placeholder="exemplo@email.com">
            </div>
        </div>
    </div>

    <!-- ENDEREÇO -->
    <div class="form-section">
        <h5 class="mb-3">Endereço</h5>

        <div class="row g-3">
            <div class="col-md-3">
                <label class="form-label">CEP</label>
                <input type="text" class="form-control" placeholder="00000-000">
            </div>
            <div class="col-md-3">
                <label class="form-label">Estado</label>
                <select class="form-select"><option>Selecione</option>
                    <option value="AC">Acre</option>
                    <option value="AL">Alagoas</option>
                    <option value="AP">Amapá</option>
                    <option value="AM">Amazonas</option>
                    <option value="BA">Bahia</option>
                    <option value="CE">Ceará</option>
                    <option value="DF">Distrito Federal</option>
                    <option value="ES">Espírito Santo</option>
                    <option value="GO">Goiás</option>
                    <option value="MA">Maranhão</option>
                    <option value="MT">Mato Grosso</option>
                    <option value="MS">Mato Grosso do Sul</option>
                    <option value="MG">Minas Gerais</option>
                    <option value="PA">Pará</option>
                    <option value="PB">Paraíba</option>
                    <option value="PR">Paraná</option>
                    <option value="PE">Pernambuco</option>
                    <option value="PI">Piauí</option>
                    <option value="RJ">Rio de Janeiro</option>
                    <option value="RN">Rio Grande do Norte</option>
                    <option value="RS">Rio Grande do Sul</option>
                    <option value="RO">Rondônia</option>
                    <option value="RR">Roraima</option>
                    <option value="SC">Santa Catarina</option>
                    <option value="SP">São Paulo</option>
                    <option value="SE">Sergipe</option>
                    <option value="TO">Tocantins</option>
                    <option value="EX">Estrangeiro</option>
                    
                </select>
            </div>
            <div class="col-md-3">
                <label class="form-label">Município</label>
                <input type="text" class="form-control" placeholder="Município">
            </div>
            <div class="col-md-3">
                <label class="form-label">Cód. IBGE</label>
                <input type="text" class="form-control" placeholder="0000000">
            </div>

            <div class="col-md-3">
                <label class="form-label">Tipo Logradouro</label>
                <select class="form-select">
                    <option>Rua</option>
                    <option>Avenida</option>
                    <option>Travessa</option>
                </select>
            </div>

            <div class="col-md-5">
                <label class="form-label">Logradouro</label>
                <input type="text" class="form-control" placeholder="Logradouro">
            </div>

            <div class="col-md-2">
                <label class="form-label">Nº</label>
                <input type="text" class="form-control" placeholder="0">
            </div>

            <div class="col-md-2">
                <label class="form-label">Bairro</label>
                <input type="text" class="form-control" placeholder="Nome do bairro">
            </div>

            <div class="col-md-12">
                <label class="form-label">Complemento</label>
                <input type="text" class="form-control"placeholder="Complemento...">
            </div>
        </div>
    </div>

    <!-- DOCUMENTOS -->
    <div class="form-section">
        <h5 class="mb-3">Documentos</h5>

        <div class="row g-3">
            <div class="col-md-3">
                <label class="form-label">CPF</label>
                <input type="text" class="form-control" placeholder="000.000.000-00">
            </div>

            <div class="col-md-3">
                <label class="form-label">RG</label>
                <input type="text" class="form-control" placeholder="0000000">
            </div>

            <div class="col-md-3">
                <label class="form-label">CNS (Cartão Nacional da Saúde/ SUS)</label>
                <input type="text" class="form-control" placeholder="Número do CNS...">
            </div>

            <div class="col-md-3">
                <label class="form-label">Passaporte</label>
                <input type="text" class="form-control" placeholder="CS000000">
            </div>
        </div>
    </div>

    <!-- OBSERVAÇÕES -->
    <div class="form-section">
        <h5 class="mb-3">Observações</h5>
        <textarea class="form-control" rows="4" placeholder="Histórico do paciente..."></textarea>
    </div>

    <!-- BOTÕES -->
    <div class="d-flex justify-content-end">
        <a href="{% url 'iniciar_atendimento' %}" class="btn btn-danger me-2">Cancelar</a>
        <button class="btn btn-success">Próximo</button>
    </div>

</div>


    
</div>

  <!-- Scripts -->

{% endblock %}
