{% extends "index.html" %}
{% load static %}

{% block 'head' %}
 
{% endblock %}

{% block 'conteudo' %}

<main class="container main-content-1">

    <!-- Tile menu -->
    
    <div class="row row-cols-1 row-cols-md-3 row-cols-lg-6 g-4 p-3 mt-1">
        <a href="{% url 'iniciar_atendimento' %}" class="tile-box mb-1" >
            <div class="tile-box ">
                <i class="bi bi-plus-circle fs-1"></i>
                <small>Novo<br> Atendimento</small>
            </div>
        </a>

        <div class="tile-box mb-2">
            <i class="bi bi-search fs-1"></i>
            <small>Busca de Atendimentos</small>
        </div>

        <div class="tile-box mb-2">
            <i class="bi bi-arrow-up-square fs-1"></i>
            <small>Consultar Cobertura</small>
        </div>

        <div class="tile-box mb-2">
            <i class="bi bi-clipboard-data fs-1"></i>
            <small>Lista de Guias Conferidas</small>
        </div>

    </div>
    
  </main>

{% endblock %}